.border-box {
    border:1px;
    border-style: solid;
    border-color: black;
    margin: 2em;
    padding: 2em;
}

.body {
    background-image: url(imani-bahati-ut67iFuoD2o-unsplash.jpg);
    background-size: cover;
    color: white;
   
}
